#cool3{
    background-color: azure;
    border: 3px solid black;
}
a{
    text-decoration: none;
}
a:hover{
    color:green;
}
span#cool5{
    color:red;
}
span#just{
    color:blue;
}    
    

